<nav class="navbar header navbar-expand-lg navbar-light container justify-content-between">
  <a class="navbar-brand" href="/"><img alt="Pvy Icon" src={{userData.variables.images.logoURL}} class="logo"></a>
  <div>
    <div class="form-inline my-2 my-lg-0 social-icons">
      {{#each socialIcons as | social |}}
        <a class={{social.class}} href={{social.link}} target="_blank" rel="noopener" data-toggle="tooltip" data-placement="top" title={{social.alt}}>{{fa-icon social.title}}</a>
      {{/each}}
    </div>
  </div>
</nav>
{{#if blog}}
  <div class="d-flex tips-tricks container">
    Tips/Tricks
  </div>
{{/if}}
