{{#each sectionDetails as | sectionDetail |}}
  <div class="section {{sectionDetail.bkgImage}}">
    <div class="container d-flex flex-column">
      {{#if sectionDetail.link}}
        <div class="subsection">{{t sectionDetail.description link=sectionDetail.link}}</div>
      {{else}}
        <div class="subsection">{{t sectionDetail.description}}</div>
      {{/if}}

      {{#if sectionDetail.quote}}
        <div class="quote"><span>"</span>{{sectionDetail.quote}}</div>
      {{/if}}
    </div>
  </div>
{{/each}}